<StackLayout class="p-20" verticalAlignment="middle" horizontalAlignment="center">
    <Button text="Open Modal (Native dim)" class="btn btn-primary" textWrap="true" (tap)="openModal1()"></Button>
    <Button text="Open Modal (Transparent)" class="btn btn-primary" textWrap="true" (tap)="openModal2()"></Button>
    <Button text="Open Modal (Color)" class="btn btn-primary" textWrap="true" (tap)="openModal3()"></Button>
    <Button text="Open Modal (Solid)" class="btn btn-primary" textWrap="true" (tap)="openModal4()"></Button>
    <Button text="Open Modal (Fullscreen, dim)" class="btn btn-primary" textWrap="true" (tap)="openModal5()"></Button>
    <Button text="Open Modal (Fullscreen, native dim)" class="btn btn-primary" textWrap="true" (tap)="openModal6()"></Button>
</StackLayout>